*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: greenyellow;
    display: flex;
    padding: 10px 15px;
    list-style: none;
    text-decoration: none;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: space-between;
    align-items: center;
    
}
header a{
    padding: 10px;
    font-size: 20px;
    color: rgb(218, 63, 63);
    text-decoration: none;
   
}
.logo{
    color: blue;
   
}
.logo a{
    padding: 300px;
}
.social-link ul li{
    /* padding: 3px; */
}